<ion-header>
  <ion-toolbar>
    <ion-title>Edit {{ timer.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="timerForm" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="name && name.invalid && (name.dirty || name.touched)">
        <ion-text required minlength=1 color="danger" class="form-error">
          This timer needs to be called something
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Opposite of:</ion-label>
        <ion-select formControlName="oppositeId" value="{{ oppositeId }}" okText="OK" cancelText="Cancel">
          <ion-select-option *ngFor="let i of labelsAndValuesOfTimers" value="{{ i.id }}">{{ i.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input formControlName="color" type="hidden"></ion-input>
        <ion-button type="button" expand="full" shape="round" fill="outline" (click)="chooseColor($event)">
          <span class="button-inner" [style.backgroundColor]="color.value">
            <ion-icon name="brush"></ion-icon> Color
          </span>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button type="submit" expand="full" shape="round" color="primary" fill="solid">
          <ion-icon name='checkmark-circle'></ion-icon> Done
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button type="button" expand="full" shape="round" fill="outline" color="primary" (click)="cancel()">
          <ion-icon name='close-circle'></ion-icon> Cancel
        </ion-button>
      </ion-item>

      <ion-item *ngIf="timer.id">
        <ion-button shape="round" expand="full" color="danger" fill="solid" (click)="delete()">
          <ion-icon name='warning'></ion-icon> Remove
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>