
<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              Click <ion-icon name='add'></ion-icon> to create a new timer.
            </ion-item>
            <ion-item>
              An existing timer can be edited by tapping,
              and started or stopped by holding.
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>

    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>