<ion-header>
  <ion-toolbar>
    <ion-title>New Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input required type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">color</ion-label>
    <ion-input type="color" [style.background]="color" [style.color]="color" [(ngModel)]="color">{{color}}</ion-input>
  </ion-item>

  <ion-item>
    <ion-button size='large' type="submit" expand="full" shape="round" color="primary" fill="solid" (click)="submit()">
      Done
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-button size='large' type="cancel" expand="full" shape="round" color="primary" fill="outline" (click)="submit()">
      Cancel
    </ion-button>
  </ion-item>
</ion-content>