<ion-header>
  <ion-toolbar>
    <ion-title>
      Reults
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let timerName of timerNames">
      <ion-list-header>
        <ion-label>{{timerName}}</ion-label>
      </ion-list-header>

      <ion-list>
        <ion-item *ngFor="let dateRange of names2times[timerName]">
          <span>
            from {{ dateRange.start | date }} ... to {{dateRange.stop | date}}
          </span>
        </ion-item>
      </ion-list>

    </ion-item>
  </ion-list>


</ion-content>