<ion-header>
  <ion-toolbar>
    <ion-title>
      Reults {{ year }} {{ month + 1}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let year of yearsWithData">
    <ion-grid class='calendar' *ngFor="let month of monthsWithData(year)">
      <ion-row class='month'>
        <ion-col size="7">
          {{ monthName[month] + ' ' + year}}
        </ion-col>
      </ion-row>
      <ion-row class='weekdays'>
        <ion-col>S</ion-col>
        <ion-col>M</ion-col>
        <ion-col>T</ion-col>
        <ion-col>W</ion-col>
        <ion-col>T</ion-col>
        <ion-col>F</ion-col>
        <ion-col>S</ion-col>
      </ion-row>

      <ion-row class='week' *ngFor="let week of [0, 1, 2, 3, 4]">
        <ion-col class='days' *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]">
          <sup>{{ calendar[year][month][week][day].dom }}</sup>
          <b *ngIf="calendar[year][month][week][day].data && calendar[year][month][week][day].data.length">
            {{ calendar[year][month][week][day].data.length }}
          </b>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>