// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-button[expand=full] {
    width: 100%;
    margin-top: 6pt;
    margin-bottom: 6pt;

    .button-inner {
        width: 100%;
        display: inline-block;
        border-radius: 1em;
        padding: 4pt;
    }

    ion-icon {
        margin-right: 1em;
    }
}

