<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let year of yearsWithData">
    <ion-grid class='calendar' *ngFor="let month of monthsWithData(year)">
      <ion-row class='weekdays'>
        <ion-col>S</ion-col>
        <ion-col>M</ion-col>
        <ion-col>T</ion-col>
        <ion-col>W</ion-col>
        <ion-col>T</ion-col>
        <ion-col>F</ion-col>
        <ion-col>S</ion-col>
      </ion-row>

      <ion-row class='week' *ngFor="let week of [0, 1, 2, 3, 4]">
        <ion-col class='days' *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]" [style.backgroundColor]='calendar[year][month][week][day].dom? calendar[year][month][week][day].colors.b : "" '
          >
          <ion-item no-padding *ngIf="calendar[year][month][week][day].dom && calendar[year][month][week][day].data && calendar[year][month][week][day].data.length; else noCalendarEntry"
            tappable on-click='showDetails($event, calendar[year][month][week][day])'
            [style.color]='calendar[year][month][week][day].dom? calendar[year][month][week][day].colors.f : ""'
            >
            <sup>{{ calendar[year][month][week][day].dom }}</sup>
            <span class="count"> {{ calendar[year][month][week][day].data.length }} </span>
          </ion-item>

          <ng-template #noCalendarEntry>
            <ion-item *ngIf="calendar[year][month][week][day].dom">
              <sup>{{ calendar[year][month][week][day].dom }}</sup>
            </ion-item>
          </ng-template>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-card>
</ion-content>