.calendar {
    --ion-grid-columns: 7;
}


.month {
    padding: 30pt 15pt;
    width: 100%;
    background: #1abc9c;
    text-align: center;
    color: white;
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: 3pt;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10pt;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10pt;
}

.weekdays {
    margin: 0;
    padding: 10pt 0;
    text-align: center;
    background-color:#ddd;
}

.week:last-of-type {
    border-bottom: 1pt solid #1abc9c;
}

/* Days (1-31) */
.days {
    padding: 10pt 0;
    background: #eee;
    margin: 0;
    text-align: center;
    border: 1pt solid #1abc9caa;
}

/* Highlight the "current" day */
.days .active {
    padding: 5pt;
    background: #1abc9c;
    color: white !important
}
