.calendar {
    --ion-grid-columns: 7;
}

.weekdays {
    padding: 10pt 0;
    text-align: center;
    background-color:var(--ion-color-secondary-tint);
    color: var(--ion-text-color);
}

.week:last-of-type,
.days {
    border: 1pt solid var(--ion-color-light);
    border-bottom: 1pt solid var(--ion-color-light);
}

.days {
    background: var(--ion-color-light);
    text-align: center;
    
    sup {
        position: relative;
        top: -1em;
    }
    
    .count {
        display: inline-block;
        text-align: right;
        width: 100%;
    }
}

