<ion-header>
  <ion-toolbar>
    <ion-title>Start and Stop Timers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="timers.length">
  <ion-chip *ngFor="let timer of timers" reorder="true" (ionItemReorder)="reorderItems($event)" [ngStyle]="{ 'margin-bottom': '4pt', width: '100%', 'background-color': timer.color }"
    on-press="toggleTimer(timer.id)" on-click="editTimer(timer.id, $event)">
    <ion-chip-button expand="full" fill="outline" color="{{ timer.start === undefined ? 'success' : 'danger' }}">
      <ion-icon color="{{ timer.start === undefined ? 'success' : 'danger' }}" name="{{ timer.start === undefined ? 'checkmark-circle' : 'close-circle'}}"></ion-icon>
    </ion-chip-button>
    <ion-label>&nbsp;{{ timer.start === undefined ? 'Start' : 'Stop' }} {{ timer.name }}</ion-label>
  </ion-chip>
</ion-content>

<ion-content padding *ngIf="!timers.length">
  No timers!
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button on-click="addNew($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>